<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Download</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<body>
  <div class="header">
    <div class="alert alert-primary" role="alert">
      Xvideos Download
    </div>
  </div>

  <form class="container" action="{{ url_for('check') }}" method=post>
    <input class="form-control form-control-lg" type="text" placeholder="Input url xvideos" name="url" required>
    <button type="submit" class="btn btn-primary btn-lg">GET</button>
    <div class="both"></div>
  </form>

  <hr />
    {%if fail%}
           <div class="alert alert-danger" role="alert">
    {{fail}}
    {%endif%}
    {%if equals%}
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="{{equals[3]}}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">{{link}}</p>
              <a href="{{link}}" class="btn btn-primary">Go</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="equals">
            <div class="alert alert-success" role="alert">
              <a href="{{equals[0]}}" target="_blank">Low video</a>
            </div>

          </div>

          <div class="equals">
            <div class="alert alert-success" role="alert">
              <a href="{{equals[2]}}" target="_blank">High video</a>
            </div>

          </div>
          <div class="equals">
            <div class="alert alert-success" role="alert">
              <a href="{{equals[1]}}" target="_blank">HLS video</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    {%endif%}
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© By <a id="foot" href="https://github.com/Artexxx">Artexxx</a></p>
    </div>
  </div>

</body>
</html>

